user-select() {
    -webkit-user-select: arguments
    user-select: arguments
}

transition() {
    -webkit-transition: arguments
    transition: arguments
}

display-flexbox() {
    display: -webkit-box
    display: -webkit-flex
    display: flex
}

flex() {
    -webkit-box-flex: arguments
    -webkit-flex: arguments
    flex: arguments
}

flex-direction() {
    -webkit-flex-direction: arguments
    flex-direction: arguments
}

order() {
    -webkit-box-ordinal-group: arguments  
    -webkit-order: arguments  
    order: arguments
}

* {
    font-family: Arial
    box-sizing: border-box

    // pointer-events: none
    cursor: default     
    user-select (none)

    &:focus {
        outline: 0
    }
}
