// .clearfix {                         
//     clear: both
// }

// .tabs {                         
//     border-top: 1px solid black
//     height: 31px               
// }                               

// .section {
//     body {                         
//         position: relative
//         background-color: #333
//         padding: 8px
//     }
// }

// .field {                         
//     display-flexbox()
//     flex-direction: row
//     flex-wrap: nowrap     
//     align-items: center

//     position: relative
//     margin: 4px 0
//     white-space: nowrap
//     min-height: 20px
// }

// .label {                         
//     flex: 1 0 60px
//     font-size: 11px
//     text-shadow: 1px 1px 0 #000
//     color: #bcbcbc
//     position: relative
//     text-align: left
//     margin: 0px 6px 0 0
//     min-width: 60px

//     overflow: hidden
// }

// div.space {
//     flex: 1 0 60px
// }
